/* rem and em do NOT depend on html font-size in media queries!
Instead, 1rem = 1em = 16px */

/* **************************** */

/* BELOW 1344 (Smaller desktops) */

/* **************************** */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* **************************** */

/* BELOW 1200 (Landscape Tablets) */

/* **************************** */

@media (max-width: 75em) {
  html {
    /* 9 px / 16 px = 56.25 */
    font-size: 56.25%;
  }
  .grid {
    gap: 6.4rem 4.8rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }
  .testimonials-container {
    /* we are leavin 9.6rem for top and bottom but for sides we are using 3.2rem */
    padding: 9.6rem 3.2rem;
  }
}

/* **************************** */

/* BELOW 944px (Landscape Tablets) */

/* **************************** */

@media (max-width: 59em) {
  .html {
    /* 8/16 = 0.5px = 50% */
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }
  .hero-img {
    width: 60%;
  }
  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }
  .logos img {
    height: 2.4rem;
  }
  .step-number {
    font-size: 7.4rem;
  }
  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }
  .section-testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .cta {
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .cta-btn {
    margin-top: 1.4rem;
  }
  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    /* so the orange block that appears after we touch button can be seen with nav */
    z-index: 1000;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.932);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* to move it to the left side if nav isn't open */
    transform: translateX(100%);
    /* flex-direction is below, yes, we need it here. */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    /* hide navigation */
    /* the problem with displan none is that it doesn't allow any animation */
    /* display: none; */
    /* 1)Hide it visually */
    opacity: 0;
    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;
    /* 3)Hide it from screen readers */
    visibility: none;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .mobile-nav-icon[name="close-outline"] {
    display: block;
  }
  .nav-open .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/* LEARN EVERYTHING UPSIDE */

/* LEARN EVERYTHING UPSIDE */

/* LEARN EVERYTHING UPSIDE */

/* LEARN EVERYTHING UPSIDE */

/* **************************** */

/* BELOW 704 (Smaller Tablets) */

/* **************************** */

@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }
  .haeding-secondary {
    margin-bottom: 4.8rem;
  }
  .pricing-plan {
    width: 100%;
  }
  /* So the last 3 footer cols are up and logo with Contact us below */
  .logo-col,
  .address-col {
    /* so the last two takes the whole width, it's important because 3 nav-cols above will be crashed cause they 2 column have particular witdth because of adress cal and logo cal */
    grid-column: span 3;
  }
  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}

/* **************************** */

/* BELOW 544 (For phones) */

/* **************************** */

@media (max-width: 34em) {
  .grid {
    gap: 4.8rem 4.8rem;
  }
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
  .hero {
    padding: 0 3.2rem;
  }
  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }
  .hero-img {
    width: 80%;
  }
  .logos img {
    height: 1.2rem;
  }
  /* second child of container, not of the step img box class itself, that means that stem-img-box is a child */
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }
  .step-img-box {
    /* to move iphone screen down a little bit */
    transform: translateY(2.4rem);
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    /* it was 6 columns before */
    gap: 1.2rem;
    /* lowering gap here */
  }
  .cta {
    grid-template-columns: 1fr;
  }
  .cta-img-box {
    /* we have to give it some height because it's invisible now and because we created this photo in css not in html */
    height: 32rem;
    grid-row: 1;
  }
  .cta-text-box {
    padding: 3.2rem;
  }
}
